
/* WEBFONTS */
@font-face {
font-family: "Inter";
src: url("../fonts/Inter-VariableFont_opsz,wght.woff") format("woff");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Playfair Display";
src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: "Oswald";
src: url("../fonts/Oswald-VariableFont_wght.woff") format("woff");
font-weight: 500;
font-style: normal;
}
/* Base */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #1a1a1a;
}

/* Alle overskrifter bruger serif */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing:0.5px;
}

/* H1 – Site title */
.main-header h1 {
  font-size: 2.4rem;
}

/* Hero headline */
.hero h2 {
  font-size: 2.8rem;
  max-width: 900px;
  margin: 0 auto;
}

/* CTA titles */
.cta-overlay h2 {
  font-size: 1.8rem;
}

/* Brødtekst */
p {
  font-size: 1rem;
  font-weight: 400;
}

/* CTA small text */
.cta-overlay span {
  font-size: 0.85rem;
  font-weight: 500;
}   

/* Urban Energy overskrift */
.urban-energy h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
    font-size: 3rem;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}
.urban-energy h2 {
    font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}